# https://httpd.apache.org

AddDefaultCharset utf-8

Options +Indexes
IndexOptions FancyIndexing ScanHTMLTitles

    RewriteEngine on
    RewriteCond %{REQUEST_URL} !^public
    RewriteRule ^ public/index.php [END]
